
.proj2-zone{
    display: inline-block;
    margin-left: 10%;
}

.proj3-zone{
    display: inline-block;
    margin-left: 10%;
}

.proj4-zone{
    display: inline-block;
    margin-left: 10%;
}


.active {
    text-decoration: none;
    color:#bf5700;
    &.inactive {
      color: #bf5700;
    }
  }